.produits-section {
  display: flex;
  flex-direction: column;
  gap: var(--rythme-espace);
}

.produits-conteneur {
  display: flex;
  flex-wrap: wrap;
  gap: var(--rythme-espace);
  justify-content: center;
}

.produit {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--couleur-secondaire);
  border-radius: var(--arrondi-petit);
  padding: var(--rythme-base);
  position: relative;
}

.produit:hover {
  border: 1px solid var(--couleur-principale);
  background-color: rgb(240, 208, 208);
}

.produit-image {
  display: block;
  width: 150px;
  height: 230px;
}

.produit-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--arrondi-petit);
}

.produit-description {
  margin-bottom: var(--rythme-base);
}
